html {
    height: 100%;
    letter-spacing: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.display {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    flex: 1 1 auto;
    padding: 20px 4px;
}

.keypad {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    gap: 8px;
    padding: 0;
    flex: 1 1 0;
    justify-content: space-between;
}

.column {
    border-radius: 4px;
    border: 0.1px solid black;
    padding: 20px 40px;
    max-width: 40px;
    /* display: flex; */
    flex: 1;
}

.hovering {
    background-color: lightgrey;
}

.operatorClicked {
    border-color: orange;
}

#footer{
    border: 0.1px solid black;
    flex: 1 1 auto;
}
